/* Global Styles */
:root {
     --primary-color:rgb(86, 223, 223);   
}

body {
     background-color:#fff;
     color:var(--primary-color);
     font-family:Arial, Helvetica, sans-serif;
     font-size:1.6rem;
     line-height:1.6em;
     margin:0;
     padding:0;
}

.container {
     width:70%;
     margin:auto;
     overflow:hidden;
}

.button {
     font-size:inherit;
}

/* Header Styles */
#main-header {
     background-color:black;
     text-align:center;
}

#main-header p {
     font-size:1.3rem;
}

/* Calculator Styles */
#calculator {
     border:2px black solid;
     background-color:lightgrey;
     width:50%;
     margin:auto;
     margin-top: 20px;
     padding:5px;
     display:flex;
     flex-direction:column;
     row-gap:3px;
}

#display {
     background-color: #fff;
     text-align:end;
     padding:5px;
     color:black;
}

#clear-delete {
     display:flex;
     gap:1px;
}

#clear-delete > button {
     flex: 1 1 50%;
}

#clear, #delete {
     flex:1 1 auto;
}

#grid-buttons {
     display:flex;
     gap:1px;
}

#main-buttons {
     flex:3 1 30%;
     display:flex;
     flex-wrap:wrap-reverse;
     align-items:center;
     column-gap:1px;
}

#main-buttons > button {
     flex: 1 1 33%;
}

#signs {
     flex: 1 1 10%;
     display:flex;
     flex-direction:column;
}

/* Footer Styles */
#footer {
          background-color:black;
          text-align:center;
          font-size:1rem;
          margin-top:20px;
}

@media (max-width:800px) {
     #calculator {
          width:80%;
     }
}

@media (max-width:600px) {
     #calculator, .container {
          width:95%;
     }
}
