/* Global Styles */
:root {
     --primary-color:rgb(73, 167, 167);   
}

body {
     background-color:#fff;
     color:var(--primary-color);
     font-family:Arial, Helvetica, sans-serif;
     font-size:1.6rem;
     line-height:1.6em;
     margin:0;
     padding:0;
}

.container {
     width:70%;
     margin:auto;
     overflow:hidden;
}

.button {
     font-size:inherit;
}